.hor-image {
    width: 300px;
    height: 150px;
}
.ver-image {
    width: 300px;
    height: 300px;
}
.img {
    padding: 35px;
    margin-bottom: 40px;
    transition: transform .2s; /* Animation */
}
/* .img:hover {
    transform: scale(1.5); 
} */
@media (hover: hover) {
    .img:hover {
        transform: scale(1.5); 
    }
}

@media (min-width: 800px){    
    .hor-image {
        margin-top: 70px;
    }   
}