.img-home {   
    display: block;
    margin:auto;
    margin-top: 30px;
    /* object-fit: cover; */
    height: 300px;
    width: 400px;
}
/* .image {
    position: relative;
  } */
 .text { 
    position: absolute; 
    color: white;
    font-size: 60px;
    top: 200px; 
    left: 110px; 
 }
 .text2 {
    position: absolute; 
    top: 350px; 
    left: 110px; 
    color: white;
    font-size: 30px;

 }
 /* .image-conatiner {
     height: auto;
 } */
 
/* h3 {
    text-shadow: 1px 2px 2px rgb(60, 165, 250);
} */

/* if you want to add the logo in future use the overlay class */
/* .overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
} */

/* this is the design for the pic overlay txt */
/* .img-txt {
    transition: opacity .2s, visibility .2s;
    font-weight: bolder;
    font-size:40px;
    color: white;
    opacity: 0;
    position: absolute;
    top: 30%;
    left:5%;
    visibility: hidden;
} */

@media (max-width: 768px){
    .text {
        font-size: 25px;
        top: 80px; 
        left: 50px; 
    }
    .text2 {
        font-size: 15px;
        top: 160px; 
        left: 50px;
    }
    .bright {
        font-size: 25px;
    }
    .location{
        font-size: 20px;
    }
    .image {
        margin-top: 20px;
    }
}

/* the condition we have inside the (media) if we detect the device has the hover, if the condition met do everything inside the media*/
@media (hover: hover) {
    /* .image-brk:hover .img-home {
        opacity: 0.3;
        transform: scale(1.03); 
        transition: all .5s; 
    } */
    /* .image-brk:hover h3{
        opacity: 0;
    } */
    /* .image-brk:hover .img-txt {
        opacity:1;
        visibility: visible;

    } */
    .image-brk:hover {
        transform: scale(1.03); 
        transition: all .5s;
    }

    .image-sf:hover {
        transform: scale(1.03); 
        transition: all .5s;
    }
}
/* .logo {
    width: 150px;
    height: 150px;
    margin-top: 170px;
    margin-right:120px;
  } */
/* .image:hover .img-home{
    opacity: 0.3;
    transform: scale(1.1); 
} */

/* .image:hover h3{
    opacity: 0;
}

.image:hover .overlay {
    opacity:1;
} */


