.img-home {
    /* transition: .5s ease;
    backface-visibility: hidden; */
    height:350px ;
    display: block;
    opacity:1;
    /* border: 1px solid rgb(84, 174, 248); */
    border-radius: 25px;
    /* box-shadow: 8px 8px 6px 1px rgb(65, 64, 64); */
}
/* h3 {
    text-shadow: 1px 2px 2px rgb(60, 165, 250);
} */
.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.image:hover .img-home{
    opacity: 0.3;
    transform: scale(1.1); 
}
.image:hover h3{
    opacity: 0;

}
.image:hover .overlay {
    opacity:1;
}
.logo {
    width: 150px;
    height: 150px;
    margin-top: 170px;
    margin-right:120px;
  }
