nav.navbar.navbar-default {
    margin-bottom: 0; 
}
.navbar {
    background-color: black;
}
.navbar-nav .nav-link {
    font-family: serif;
}    

.nav-link {
    color: white;
    font-size: 20px;
}
.nav-link:hover { 
    color: rgb(60, 165, 250); 
}  
.active>.nav-link {
    color: rgb(60, 165, 250);
}

@media (min-width: 800px){
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
    float: right;
    display: block;
  }
}


