nav.navbar.navbar-default {
    margin-bottom: 0; 
    
}
.navbar {
    width:100%;
    display: block;    
}

.navbar-nav .nav-link {
    font-family: serif;
}  

.nav-link {
    color: black;
    font-size: 20px;
}

.nav-item1{
    margin-right: auto;
}

.nav-link:hover, .active>.nav-link { 
    color: #1766CE; 
}  

.topnav .fa-bars {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 35px;
    display: block;
}
.hide {
    display: none;
}

@media (max-width: 1000px){
    .hide {
        display: inline;
    }
    .show {
        display: none;
    }
    /* .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }
    .topnav .nav-item {
        display: none;
    }
    .topnav .nav-link {
        float: left;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }      */
}



