.hor-image {
    margin-top: 70px;
    width: 300px;
    height: 150px;
}
.ver-image {
    width: 300px;
    height: 300px;
}
.img {
    padding: 50px;
    transition: transform .2s; /* Animation */
}
.img:hover {
    transform: scale(1.5); 
    /* width: 400px;
    height: 400px; */
}